body {
    background: #FCCBCD;
}

h1, h2, h3 {
    text-align: center;
    padding: 25px;
}

h4 {
    font-size: 20px;
}

p {
    text-align: center;
}

ul {
    list-style: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

ol {
    list-style: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

li {
    padding: 5px;
    margin-top: 5px;
}

div {
    display: flex;
    justify-content: center;
}